pynput>=1.7.6
ttkbootstrap>=1.10.1
customtkinter>=5.2.0
pillow>=9.4.0
cryptography>=41.0.3
pywin32>=305.1; platform_system == "Windows"
pycryptodome>=3.18.0
openpyxl>=3.1.2
python-docx>=0.8.11
reportlab>=4.0.4
pyinstaller>=5.13.0
numpy>=1.24.3